.lm-container {
  width: 1117px;
  margin: 100px auto;
  /* background: lightcoral; */
}

.offer-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
}

.offer-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("./images/rectangle.png") no-repeat top right;
  position: relative;
}

.textbox-offer {
  padding: 70px 45px 0 30px;
  z-index: 10;
}

.vector {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0;
}

.offer-heading {
  font-size: 24px;
  color: #212353;
}

.offer-paragraph {
  font-size: 16px;
  color: #4b5d68;
  line-height: 26px;
  width: 200px;
  padding: 20px 0;
}

.offer-button {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.button-text-offer {
  font-size: 18px;
  color: #212353;
  font-weight: bold;
}

.fa-arrow-right {
  font-size: 25px;
  color: #9c69e2;
  margin-left: 20px;
}

/* .offer-one > img {
  margin-top: 10px;
} */
